* {
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  /* padding-top: 1rem; */
}
.complaint-portal {
  margin-top: 5vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.text {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.otp {
  display: flex;
  flex-direction: row;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.uplode {
  margin-right: 5vh;
}

.image {
  margin: 1rem;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
