/* .data-page {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    162deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 53%,
    rgba(10, 73, 196, 1) 100%
  );
  min-height: 100vh;
} */

/* .paper {
  background: #b3e5fc;

  background: rgb(255, 255, 255);
  background: linear-gradient(318deg, rgba(255, 255, 255, 1) 0%, rgba(158, 214, 252, 1) 74%);
} */

.title {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: 2rem;
  color: rgb(0, 115, 230);
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.input:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 50 px;
}

.uplode {
  margin-right: 5vh;
}

.image {
  margin: 1rem;
}

.waterarea {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.car {
  background-image: url('../../images/car-man.png');
  align-items: baseline;
}

.water {
  background-color: rgba(8, 67, 244, 0.772);
}

.link {
  display: flex;
  justify-content: center;
  color: blue;
  text-decoration: underline;
  padding-bottom: 20px;
}
.link:hover {
  cursor: pointer;
}
