* {
  margin: 0;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 12px; */
  border-radius: 4px;
}

.search-days {

  position: fixed;
  top: 69px;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 64px;

}

.search-days h3 {
  font-size: 16px;
  font-weight: 50;
}

.search-days input {
  width: 160px;
  height: 25px;
  outline: none;
  margin: 10px;
  font-weight: 50;
  font-size: 13px;
}

.search-days button {
  height: 25px;
  width: 30px;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}