.data-page {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    162deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 53%,
    rgba(10, 73, 196, 1) 100%
  );
  min-height: 100vh;
}

/* .paper {
  background: #b3e5fc;

  background: rgb(255, 255, 255);
  background: linear-gradient(318deg, rgba(255, 255, 255, 1) 0%, rgba(158, 214, 252, 1) 74%);
} */

.title {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: 2rem;
  color: rgb(0, 115, 230);
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.input:focus {
  outline: none;
}

.button {
  /* margin: 3rem; */
  /* margin-left: 20vw;
  margin-right: 20vw; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.uplode {
  margin-right: 5vh;
}

.submit {
  margin-left: 5vh;
}
